<div class="container">
  <div class="header">
    <h2><i class="fa fa-thumbs-o-up"></i>Game of Life</h2>
    <hr></hr>
  </div>
  <div>
    <button ng-click="reset()" class="btn btn-warning"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    <button ng-if="!running" ng-click="start()" class="btn btn-success"><i class="fa fa-play-circle-o" aria-hidden="true"></i></button>
    <button ng-if="running" ng-click="stop()" class="btn btn-danger"><i class="fa fa-stop-circle-o" aria-hidden="true"></i></button>
    <label>Width:</label>
    <input ng-model="cols" min="3" ng-change="resizeGrid()" type="number" />
    <label>Height:</label>
    <input ng-model="rows" min="3" ng-change="resizeGrid()" type="number" />
  </div>
  <br>


  <div class="col-md-offset-2 col-md-8">
    <table border="1">
      <tr ng-repeat="row in grid track by $index">
        <td ng-repeat="col in row track by $index" ng-click="switchVal($parent.$index, $index)" style="width:1.5em;height:1.5em;border:solid 1px #ddd;" class="text-center">
          <span ng-if="col"><i class="fa fa-github-alt "></i></span>
        </td>
      </tr>
    </table>
  </div>
</div>
